body {
    background-color: #f2f2f2;
}
.menu_ini {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color:rgb(228, 133, 26);
}
a {
    color:rgb(0, 0, 0) ;
    font-size: 20px;
}
.menu_mitj {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 30px;
}
footer  {
    margin-top: 90px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color:  rgb(228, 133, 26);
}